@font-face {
    font-family: commando;
    src: url('../resources/commando.ttf')
}
body {
    background: #e8e280;
    margin: 0;
}

.header {
    white-space: nowrap;
    font-size: 0;
    height: 20vh;
    background-color: brown;
}
.menu {
    text-align: right;
    position: absolute;
    right: 10%;
    top: 2%;
}
.menu a {
    font-family: arial;
    font-size: 1.2rem;
    color: white;
    position: relative;
    text-decoration: none;
}
.menu a:hover {
    color: yellow;
    text-decoration: underline;
}
.logo, .title {
    display:inline-block;
    font-size: 1rem;
}
.logo {
    width: 35%;
}
.logo img {
    display: block;
    width: 30vw;
    margin: auto;
}
.title {
    position: relative;
    top: 40%;
    vertical-align: top;
    width: 65%;
    background-color: yellow;
}
.title h1 {
    font-family: commando, arial, sans;
    font-size: 3.5rem;
    text-align: center;
}
.game-area-container {
    font-size: 0;
    height: 80vh;
}

.game-info, .game-container {
    font-size: 1rem;
    margin: 0;
    display: inline-block;
}
.game-info {
    width: 20%;
    vertical-align: top;
    height: 75%;
    font-family: commando, arial, sans;
    padding-top: 5%;
    padding-left: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
.game-container {
    padding-top: 3%;
    width: 80%;
    height: 95%;
}
.game-area {
    width: 80%;
    margin: auto;
    height: 90%;
}
.card-container {
    width: 16.66%;
    height: 33.33%;
    float:left;
}
.card {
    position: relative;
    width: 85%;
    height: 90%;
    top: 5%;
    left: 7.5%;
    cursor: pointer;
}
.allmight-weak, .allmight, .deku, .allmight-weak, .endeavor,
.ochaco, .shota, .shota-glasses, .todoroki, .tsuyu, .katsuki, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.allmight-weak, .allmight, .deku, .allmight-weak, .endeavor,
.ochaco, .shota, .shota-glasses, .todoroki, .tsuyu, .katsuki {
    transition: .2s
}
.allmight-weak:hover , .allmight:hover, .deku:hover, .allmight-weak:hover, 
.endeavor:hover, .ochaco:hover, .shota:hover, .shota-glasses:hover,
.todoroki:hover, .tsuyu:hover, .katsuki:hover, .back:hover{
    transform: scale(1.1);
}

.inside-border {
    position: relative;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    border: 1px solid lightgrey;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.back {
    background: url('../images/cardback_maybe_trans.png') #262c3a no-repeat center center;
    background-size: cover;
}
.matched ~ .back{
    display:none;
}
.back-img, .back-img-info {
    position: absolute;
    opacity: .65;
}
.back-img {
    height: 70%;
    width: 20%;
    background-size: cover;
    background: url('../images/background2_allmightrans.png') no-repeat;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.back-img-info {
    background: url('../images/background2_katsuki_trans.png') no-repeat top right;
    -webkit-background-size: cover;
    background-size: cover;
    height: 35%;
    width: 22%;
    left: 0;
    bottom: 0;
    z-index: -2;
}
.games-played, .attempts, .accuracy {
    font-size: 5vh;
    text-align: center;
    margin-bottom: 10%;
}

.attemptNum, .playedNum, .accuracyNum {
    font-size: 2.3rem;
    background-color: #262c3a;
    color: yellow;
    text-shadow: 5px 1px 1px gray;
    margin: auto;
    width: 65%;
    padding: 10px 2px 5px 2px;
    border: 1px solid white;
}
button.reset {
    background-color: #a52a2a;
    border: 2px solid black;
    color: #e6e44a;
    display: block;
    font-size: 1.2rem;
    width: 75%;
    margin: auto;
    padding: 8px;
}
button.reset:hover {
    cursor: pointer;
    color: whitesmoke;
    background-color: #f77676
}
.matched {
    pointer-events: none;
    box-shadow: 0 0 5px 5px maroon;
}
.matched:hover {
    cursor: auto;
}
.about-section {
    font-size: 1rem;
    margin: auto;
    width: 65%;
    height: 80%;
    font-family: sans-serif;
    position: relative;
    top: 15%;
    text-align: center;
}
.about-section h1 {
    font-size: 3rem;
}
.about-section img {
    width: 20%;
}
.about-section p {
    width: 60%;
    margin: 25px auto;
}
.description {
    font-size: 1.6rem;
}
.back-img-deku {
    position: absolute;
    opacity: .6;
    height: 35%;
    width: 20%;
    background: url('../images/deku_tsuyu_trans.png') no-repeat;
    background-size: cover;
    right: 0;
    bottom: 0;
}
.modal {
    display: none;
    color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 1;
}
.modal-body {
    width: 50%;
    padding: 15px;
    background:#0b634d;
    border: 5px solid whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-modal {
    font-size: 1.5rem;
    font-family: arial;
    position: absolute;
    right: 2%;
    padding: 5px 8px;
    border: 1px solid white;
}
    .close-modal:hover {
        cursor: pointer;
        background: white;
        color: black;
    }
.win-img {
    width: 80%;
    margin: auto;
    text-align: center;
}
.allmight-thumb {
    width: 50%;
}
.modal-text {
    font-size: 2.5rem;
    font-family: verdana;
    text-align: center;
    margin-bottom: 15px;
}
button.replay {
    margin-top: 15px;
    width: 30%;
}
.size-modal {
    position: absolute;
    display: none;
    background-color: #262c3a;
    width: 100vw;
    height: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.size-modal h2{
    font-family: verdana;
    text-align: center;
    color: beige;
    font-size: 2em;
}
.size-modal img {
    width: 50%;
}

@media only screen and (max-width: 1300px){
    .logo img {
        width: 35vw;
    }
}

@media only screen and (max-width: 1000px){
    .logo {
        width: 45%;
    }
    div.title {
        width: 55%;
    }
    .title h1 {
        font-size: 2.5rem;
    }
    .game-container {
        padding-top: 4%;
    }
    .game-area {
        width: 90%;
    }
    .game-info {
        text-align: center;
    }
    .attemptNum, .playedNum, .accuracyNum{
        font-size: 1.8rem;
    }
    div.stat-container {
        display: inline-block;
        width: 70%;
    }
    .games-played, .attempts, .accuracy {
        font-size: 1.3rem;
    }
    button.reset {
        padding: 3%;
    }
}

@media only screen and (max-width: 736px){
    .header {
        height: auto;
    }
    div.logo, div.title {
        display: block;
        width: 100%;
    }
    div.logo {
        padding-top: 0;
    }
    div.logo img {
        width: 30%;
    }
    div.title {
        top: 0;
    }
    div.title h1 {
        font-size: 1.5rem;
        margin-top: 0;
        padding: 5px;
    }
    nav.menu a {
        font-size: .8rem;
    }
    .game-container, .game-area {
        height: 100%;
    }
    .attemptNum, .playedNum, .accuracyNum {
        font-size: 1.5rem;
    }
    button.reset {
        width: 90%;
        font-size: 1rem;
    }
    .back-img {
        background-size: contain;
        position: fixed;
        right: 0px;
        bottom: 0px;
    }
    .back-img-info {
        display: none;
    }
    .about-section p.description {
        font-size: 2rem;
    }
}

@media only screen and (orientation: portrait){
    .size-modal {
        display: flex;
    }
}