@font-face {
    font-family: commando;
    src: url('resources/commando.ttf')
}
body {
    background: #e8e280;
    margin: 0;
}

.header {
    white-space: nowrap;
    font-size: 0;
    height: 20vh;
    background-color: brown;
}
.menu {
    text-align: right;
    position: absolute;
    right: 10%;
    top: 2%;
}
.menu a {
    font-family: arial;
    font-size: 1.2rem;
    color: white;
    position: relative;
    text-decoration: none;
}
.menu a:hover {
    color: yellow;
    text-decoration: underline;
}
.logo, .title {
    display:inline-block;
    font-size: 1rem;
}
.logo {
    width: 35%;
}
.logo img {
    display: block;
    width: 90%;
    margin: auto;
}
.title {
    width: 65%;
    background-color: yellow;
}
.title h1 {
    font-family: commando, arial, sans;
    /* font-size: 5rem; */
    text-align: center;
}
.game-area-container {
    font-size: 0;
    height: 80vh;
}

.game-info, .game-container {
    font-size: 1rem;
    margin: 0;
    display: inline-block;
}
.game-info {
    width: 20%;
    vertical-align: top;
    height: 75%
}
.game-container {
    width: 80%;
    height: 100%;
}
.game-area {
    position: relative;
    top: 5%;
    width: 80%;
    height: 90%;
}
.card-container {
    /*background-color: purple;*/
    width: 16.66%;
    height: 33.33%;
    float:left;
}
.card {
    position: relative;
    width: 85%;
    height: 90%;
    top: 5%;
    left: 7.5%;
    transition: .2s
}
.allmight-weak, .allmight, .deku, .allmight-weak, .endeavor,
.ochaco, .shota, .shota-glasses, .todoroki, .tsuyu, .katsuki, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.allmight {
    background: url('images/pop_allmight.jpg') #fff no-repeat center/contain;
}
.allmight-weak {
    background: url('images/pop_allmight_weak.jpg') #fff no-repeat center/contain;
}
.deku {
    background: url('images/pop_deku.jpg') #fff no-repeat center/contain;
}
.katsuki {
    background: url('images/pop_katsuki.png') #fff no-repeat center/contain;
}
.endeavor {
    background: url('images/pop_endeavor.jpg') #fff no-repeat center/contain;
}
.ochaco {
    background: url('images/pop_ochaco.jpg') #fff no-repeat center/contain;
}
.shota {
    background: url('images/pop_shota.jpg') #fff no-repeat center/contain;
}
.shota-glasses {
    background: url('images/pop_shota_glasses.jpg') #fff no-repeat center/contain;
}
.todoroki {
    background: url('images/pop_todoroki.jpg') #fff no-repeat center/contain;
}
.tsuyu {
    background: url('images/pop_tsuyu.jpg') #fff no-repeat center/contain;
}

.inside-border {
    position: relative;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    border: 1px solid lightgrey;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.back {
    background: url('images/cardback_maybe_trans.png') #262c3a no-repeat center center;
    background-size: cover;
}
.matched ~ .back{
    display:none;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.back-img, .back-img-info {
    position: absolute;
    opacity: .65;
}
.back-img {
    height: 70%;
    width: 20%;
    background-size: cover;
    background: url('images/background2_allmightrans.png') no-repeat;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.back-img-info {
    background: url('images/background2_katsuki_trans.png') no-repeat top right;
    -webkit-background-size: cover;
    background-size: cover;
    height: 35%;
    width: 22%;
    left: 0;
    bottom: 0;
    z-index: -2;
}

.game-info {
    font-family: commando, arial, sans;
    padding-top: 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.games-played, .attempts, .accuracy {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 10%;
}

.attemptNum, .playedNum, .accuracyNum {
    font-size: 2.3rem;
    background-color: #262c3a;
    color: yellow;
    text-shadow: 5px 1px 1px gray;
    margin: auto;
    width: 25%;
    padding: 10px 2px 5px 2px;
    border: 1px solid white;
}
button.reset {
    display: block;
    font-size: 1.5rem;
    width: 50%;
    margin: auto;
    padding: 8px;
}
.matched {
    -webkit-box-shadow: 10px 5px 5px 10px maroon;
    -moz-box-shadow: 10px 5px 5px 10px maroon;
    box-shadow: 0 5px 5px 8px maroon;
}

.about-section {
    font-size: 1rem;
    margin: auto;
    width: 50%;
    height: 80%;
    font-family: sans-serif;
    position: relative;
    top: 15%;
    text-align: center;
}
.about-section h1 {
    font-size: 3rem;
}
.about-section img {
    width: 30%;
    height: 30%;

}
.about-section p {
    width: 60%;
    text-align: justify;
    margin: 25px auto;
}
.back-img-deku {
    position: absolute;
    opacity: .6;
    height: 35%;
    width: 20%;
    background: url('images/deku_tsuyu_trans.png') no-repeat;
    background-size: cover;
    right: 0;
    bottom: 0;
}
.modal {
    display: none;
    color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 1;
}
.modal-body {
    height: 60%;
    width: 50%;
    padding: 15px;
    background:#0b634d;
    border: 5px solid whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-modal {
    font-size: 1.5rem;
    font-family: arial;
    position: absolute;
    right: 2%;
    padding: 5px 8px;
    border: 1px solid white;
}
    .close-modal:hover {
        cursor: pointer;
        background: white;
        color: black;
    }
.modal-text {
    font-size: 3rem;
    font-family: verdana;
    text-align: center;
}
.size-modal {
    position: absolute;
    display: none;
    background-color: #262c3a;
    width: 100%;
    height: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.size-modal h2{
    font-family: verdana;
    text-align: center;
    color: beige;
    font-size: 4em;
}

@media only screen and (orientation: portrait){
    .size-modal {
        display: flex;
    }
}